<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login here</title>
</head>
<body>
    <br>
    <h3>Login here</h3>
    <form  method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Login</button><br>
        <script async src="https://telegram.org/js/telegram-widget.js?21" data-telegram-login="abdurassuloff_codes_bot" data-size="large" data-auth-url="https://0710-95-214-210-162.eu.ngrok.io/auth/complete/telegram" data-request-access="write"></script>
    </form>
</body>
</html>